
  <div class="bg-gray-800 pb-32">
    <header class="py-10">
      <div class="max-w-7xl mx-auto flex justify-between  px-4 sm:px-6 lg:px-8">
        <span class="inline-flex rounded-md shadow-sm">
          <button type="button" class="inline-flex items-center px-4 py-2 border border-gray-300 text-base leading-6 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150">
            <i class=" mr-2 fa fa-chevron-left" aria-hidden="true"></i>
             <%= link_to "back", root_path  %>
          </button>
        </span>
        <div class="rounded border-gray-700 shadow-md mx-3 px-3 py-2 bg-level-2 text-white">
          <p><%= @video.level %></p>
        </div>
      </div>
    </header>
  </div>

<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, @video.title %>
<% content_for :meta_description, @video.level %>
<% content_for :meta_image, @video.thumbnails %>

  <main class="-mt-32">
    <div class="w-9/12 mx-auto pb-12 px-4 sm:px-6 lg:px-8">
      <div class="video-container bg-white rounded-lg shadow px-5 py-6 sm:px-6">
        <iframe src="<%= "https://www.youtube.com/embed/" %><%= @video.youtube_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

      <!-- /Word suggestions -->
    <div class="w-9/12 mx-auto pb-12 px-4 sm:px-6 lg:px-8">
      <div class="bg-white">
        <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
          <p class="text-center text-base leading-6 mb-6 font-semibold uppercase text-gray-600 tracking-wider">
          Add words to your flash cards          </p>

          <% @video.vocabulary.each do |word|%>
          <span class="inline-flex items-center px-2 py-1 rounded-full text-xs font-medium leading-4 bg-indigo-100 text-indigo-800">
            <%= word %>
            <button type="button" class="flex-shrink-0 ml-1.5 inline-flex text-indigo-500 focus:outline-none focus:text-indigo-700" aria-label="Remove small badge">
              <svg class="ml-4 h-4 w-4" stroke="currentColor" fill="none" viewBox="0 0 20 20">

              <path d="M14.613,10c0,0.23-0.188,0.419-0.419,0.419H10.42v3.774c0,0.23-0.189,0.42-0.42,0.42s-0.419-0.189-0.419-0.42v-3.774H5.806c-0.23,0-0.419-0.189-0.419-0.419s0.189-0.419,0.419-0.419h3.775V5.806c0-0.23,0.189-0.419,0.419-0.419s0.42,0.189,0.42,0.419v3.775h3.774C14.425,9.581,14.613,9.77,14.613,10 M17.969,10c0,4.401-3.567,7.969-7.969,7.969c-4.402,0-7.969-3.567-7.969-7.969c0-4.402,3.567-7.969,7.969-7.969C14.401,2.031,17.969,5.598,17.969,10 M17.13,10c0-3.932-3.198-7.13-7.13-7.13S2.87,6.068,2.87,10c0,3.933,3.198,7.13,7.13,7.13S17.13,13.933,17.13,10"></path>              </svg>
            </button>
          </span>

          <% end %>
        </div>
      </div>
    </div>
    <!-- /Affiliate links -->

    <div class="w-9/12 mx-auto pb-12 px-4 sm:px-6 lg:px-8">
      <div class="bg-white">
        <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
          <p class="text-center text-base leading-6 font-semibold uppercase text-gray-600 tracking-wider">
            To take you language learning even further
          </p>
          <div class="mt-6 grid grid-cols-2 gap-0.5 md:grid-cols-3 lg:mt-8">
            <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
              <a href="https://my.babbel.com/en/prices" target="_blank">
                <img class="h-18 filter" src="https://www.babbel.com/static/index_page/en-US/images/babbel-logo.7aa2e9b55ad748e39c0b5ad7c32c1088.png" alt="Workcation">
              </a>
            </div>
            <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
              <img class="max-h-10 my-auto filter" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Duolingo_logo_%282019%29.svg/1280px-Duolingo_logo_%282019%29.svg.png" alt="Mirage">
            </div>
            <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
              <img class="h-18 my-auto filter" src="https://www.assimil.com/themes/assimil/img/logos/logo-assimil-footer-fr.png" alt="Tuple">
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
</div>
