<!DOCTYPE html>
<html>
  <head>
    <title>LanguageLearningWithYoutube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <%= favicon_link_tag asset_path('undraw_online_video_ivvq.png') %>
    <meta property="og:title" content="Learn Languages with Youtube To find out if a video is adapted to your language level, enter the url from youtube in the search bar. You can also browse in our the list below to find viedos classed with language levels.">
    <meta property="og:image" content="<%= image_url('meta_image.png') %>">

  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
